*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
}

body{
    background-image:  url(a.jpg) ;
    object-fit: fill;
    background-repeat: no-repeat;
}